.form {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    padding: 4%;
    padding-bottom: 0;
    padding-left: 12%;
}

.title {
    font-size: 1.5rem;
    margin-bottom: 8%;
}

.label {
    font-size: 1.3rem;
    padding: 2% 0;
}

.name,.email,.reason,.msg {
    font-size: 1.2rem;
    width: 80%;
    padding: 2%;
    border-radius: 15px;
    background-color: #3B3B3B;
    color: white;
    margin-top: 1%;
    /* margin-left: -1%; */
    margin-bottom: 2%;
}

.msg {
    height: 150%;
    width: 80%;
}

.submit {
    margin-top: 100px;
    font-size: 1.4rem;
    width: 30%;
    cursor: pointer;
    border-radius: 10px;
}

@media screen and (max-width: 1200px) {
    .form {
        flex-basis: 90%;
        padding-left: 2%;
    }

    .title {
        margin-top: 30px;
    }

    .name,.email,.reason,.msg {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .form {
        width: 100%;
        align-items: center;
        padding-left: 0;
    }

    .name,.email,.reason,.msg {
        width: 100%;
    }


}
