.NavBar .MobileNavigation {
    display: none;
}

@media (max-width: 800px) {
    .NavBar .Navigation {
        display: none;
    }

    .NavBar .MobileNavigation {
        display: flex;
        align-items: center;
    }

    .NavBar .MobileNavigation .Hamburger {
        position: fixed;
        top: 3%;
        left: 2%;
        cursor: pointer;
        z-index: 100;
    }

    .NavBar nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 10%;
        width: 30%;
        min-width:160px;
        z-index: 100;
        padding-top: 20px;
    }
}